<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81795119952-biok15po1fbddt8au9o0jnv3ptt489or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81795119952-biok15po1fbddt8au9o0jnv3ptt489or</string>
	<key>API_KEY</key>
	<string>AIzaSyCmMTTcNKKgIqQQpc1naZeEu1qpQ9dgiUs</string>
	<key>GCM_SENDER_ID</key>
	<string>81795119952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>realityworks.TodoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitask</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81795119952:ios:973dad431815f5dacb8a55</string>
	<key>DATABASE_URL</key>
	<string>https://swiftuitask.firebaseio.com</string>
</dict>
</plist>